parent {

    height: 600px;
    background-color: #ffcc00; /* მშობელი დივ ბლოკის ფონის ფერი თექვსმეტობითი /
}
.child {

    height: 10%; / მშობელი დივ ბლოკის სიმაღლის 10% /
    background-color: #0066ff; / შვილობილი დივ ბლოკის ფონის ფერი თექვსმეტობითი */
}